/* 实际上并未从本地应用该文件，这个CSS已经传到OSS上面了。也就是说，本地改完并不会生效，传到OSS才行 */

a {
  text-decoration: none;
}

a #redText {
  color: rgb(255, 94, 126)
}

@media screen and (max-device-width:960px) {
  .container article div p img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width:961px) {
  .container article div p img {
    height: 300px;
    object-fit: cover;
  }
}